* { /* The * means everything. The browser adds padding around objects by default and this removes that. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* adds a background-color to every page */
    background-color: #2C2C29;
}

header {
    height: 100dvh;
    background-image: url("assets/images/heroImage.jpg"); /* This is the hero image for the homepage */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* The hero images for all the other pages: */
.headerWildlife {
    background-image: url("assets/images/Robin.jpg");
}

.headerPlants {
    background-image: url("assets/images/plantsBackground.jpg");
}

.headerVisit {
    background-image: url("assets/images/VisitBackground.png");
}

/* This improts both the fonts I'm using */
@font-face {
    font-family: 'Literata';
    src: url("assets/fonts/Literata-Medium.ttf");
}
@font-face {
    font-family: 'Sora';
    src: url("assets/fonts/Sora-Regular.otf");
}
/* Styling for all headlines */
h1 {
    font-family: 'Literata';
    font-size: 5rem;
    color: #2C2C29;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
}
/* Styling for all sub-headlines */
h2 {
    font-family: 'Literata';
    font-size: 2.5rem;
    color: #2C2C29;
    line-height: 1;
    font-weight: 400;
}
/* Styling for all h3  */
h3 {
    font-family: 'Literata';
    font-size: 1rem;
    color: #FFFEE8;
    line-height: 1;
    font-weight: 400;
}
/* Styling for all paragraphs  */
p {
    font-family: 'Sora';
    font-size: 1rem;
    color: #2C2C29;
    line-height: 1.2;
    text-decoration: none;
}
/* Styling for all my links  */
a {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    text-decoration: none;
}
/* Styling for the navigation  */
.nav {
    position: absolute; /* This positions the navigation at the very top of the page  */
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
/* Here I determine the max width of the website to prevent elements from overstretching */
section {
    max-width: 1280px;
    margin: 0 auto;
}
/* The positon and size of the logo  */
.logo {
    padding: 30px;
    border-radius: 0 0 30px 0;
    background-color: #B4EDBC;
}

.logo img {
    width: 100px;
    height: auto;
}
/* The code for the section behind the navigation buttons  */
.navbar {
    padding: 30px;
    border-radius: 0 0 0 30px;
    background-color: #B4EDBC;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
/* This is to style all the titles in the hero section of all pages  */
.heroText {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    border-radius: 0 30px 0 0;
    background-color: #FFFEE8;
}

/* Code for the Google Maps embed  */
#gmap_canvas {
    width: 311px;
    height: 447px;
    border: none;    
    overflow: hidden;    
    display: block;       
}
/* The code for the buttons  */
.button,
.iconButton {
    background-color: #FFFEE8;
    padding: 10px 20px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* This tells the browser which animation to run */
}
/* So all the icons on the buttons are the same size */
.button img {
    margin-right: 10px;
    height: 20px;
}

.iconButton img {
    height: 20px;
}
/* Styling for the button text  */
.button .buttonText {
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
}
/* This is the animation when you hover over a button  */
.button:hover,
.iconButton:hover {
    transform: scale(1.02); /* Make the button just a bit bigger */
    box-shadow: 0 0 20px rgb(255, 254, 232); /* And adds a shadow */ 
}
/* Creates a visited state for the bird song buttons */
a.iconButton:visited {
    color: #000;
    background-color: #719476;
}
/* The active button on every page has a different background colour */
.active {
    background-color: #B4EDBC;
}

.sectionWhoWeAre {
    display: flex; /* I'm using a flexbox here so I can have multiple columns */
    flex-direction: row;
}
/* This is for the second section the about us */
.sectionWhoWeAreLeft {
    width: 60%; /* I'm using % so the website is responsive */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-image: url("assets/images/background.png"); /* The wave background */
    background-position: center;
    background-size: cover;
}
/* Changing the text colour */
.sectionWhoWeAreLeft h3 {
    color: #FFFEE8;
}
/* This is for the image in the about us section */
.sectionWhoWeAreRight {
    width: 40%;
}

.sectionWhoWeAreRight img {
    width: 100%;
    height: auto;
    border-radius: 0 0 0 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* A small animation when you hover over an image it gets a shadow */
.sectionWhoWeAreRight img:hover {
    transform: scale(1.001);
    box-shadow: 0 0 200px #fffee83e;
}
/* Styling for the paragraphs */
.sectionWhoWeAreLeft p {
    padding-top: 10px;
    color: #FFFEE8;
}
/* This code is for the card grid at the bottom of the homepage */
.sectionPages {
    height: 100vh;
    overflow: visible;
}

.sectionPages h3 {
    margin: 40px;
    height: fit-content;
    color: #FFFEE8;
}

.selectPages {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
}
/* The individual boxes or cards */
.Boxes {
    width: 33.3%;
}

.Boxes a {
    width: 100%;
    height: 100%;
}
/* This is the card that goes to the Wildlife page */
.goToWildlifePage {
    cursor: url('assets/images/cursorGreen.svg'), auto; /* A custom cursor so the end user knows they can click here */
    background-color: #FFFEE8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url("assets/images/BackgroundWhite.png");
    background-position: center;
    background-size: cover;
}
/* All cards have this hover effect; they move up a bit and get a shadow */
.goToWildlifePage:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 35px #FFFEE8;
}
/* This is the card that goes to the Plants page */
.goToPlantsPage {
    cursor: url('assets/images/cursorWhite.svg'), auto;
    background-color: #B4EDBC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    padding-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url("assets/images/BackgroundGreen.png");
    background-position: center;
    background-size: cover;
}

.goToPlantsPage:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 35px #B4EDBC;
}
/* This is the card that goes to the Visit page */
.goToVisitPage {
    cursor: url('assets/images/cursorGreen.svg'), auto;
    background-color: #FFFEE8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: url("assets/images/BackgroundWhite.png");
    background-position: center;
    background-size: cover;
}

.goToVisitPage:hover {
    transform: translateY(-5px);
    box-shadow: -2px -2px 35px #FFFEE8;
}
/* Making the images in the cards take up all the space  */
.goToPlantsPage img,
.goToWildlifePage img {
    width: 100%;
}

.goToVisitPage img {
    width: 70%;
}
/* Code for the footer */
footer {
    height: 600px;
    display: flex; /* Again, using a flexbox to create multiple columns */
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.footerleft {
    width: 100%;
    padding: 40px 0 40px 40px;
}

.footerRight {
    width: fit-content;
}

.footerleft p {
    padding-bottom: 20px;
    color: #FFFEE8;
}

.footerleft h1 {
    text-align: justify;
    color: #FFFEE8;
}

.footerRight p {
    text-align: right;
    color: #FFFEE8;
    padding: 40px;
}
/* The size for the Google maps embed in the footer */
.footerRight iframe {
    height: 400px;
    width: auto;
    margin-right: 40px;
}

/* Wildlife page */
/* The section right under the hero */
.sectionWildlife {
    display: flex;
    flex-direction: row;
    background-image: url("assets/images/background.png"); /* the wave background */
    background-position: center;
    background-size: cover;
}

.sectionWildlifeLeft {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.sectionWildlifeRight {
    width: 40%;
}

.sectionWildlifeRight img {
    width: 100%;
    height: auto;
    padding: 40px;
    transition: transform 0.3s ease; /* A small animation that make the bird grow a bit bigger on hover */
}

.sectionWildlifeRight img:hover {
    transform: scale(1.1);
}

.sectionWildlifeLeft p {
    padding-top: 10px;
    color: #FFFEE8; /* Making the text white */
}

.sectionWildlifeLeft h3 {
    color: #FFFEE8; /* Making the text white */
}

/* Walks tabs */
#details > div {
    padding: 20px;
    display: none;
}
/* The tab panel */
#details label {
    cursor: pointer; /* Make the cursor into the pointer to show that it can be clicked */
    display: inline-block;
    color: #FFFEE8;
    padding: 10px 25px;
    float: left;
    width: 33.3333%;
    background-color: #2C2C29;
    transition: background-color 0.5s;
    font-family: 'Sora';
}

#details panel::after {
    content: '';
    display: block;
    clear: both;
}
/* Hover animation */
#details label:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #2C2C29;
}

#details input {
    display: none;
}

/* This shows the containt whrn a user clicks on a tab */
#details > input[id="tab1"]:checked ~ panel label[for="tab1"],
#details > input[id="tab2"]:checked ~ panel label[for="tab2"],
#details > input[id="tab3"]:checked ~ panel label[for="tab3"] {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details > input[id="tab1"]:checked ~ div[id="detail1"],
#details > input[id="tab2"]:checked ~ div[id="detail2"],
#details > input[id="tab3"]:checked ~ div[id="detail3"] {
    display: block;
}

/* Walks tabs */
#details2 > div {
    padding: 20px;
    display: none;
}

#details2 label {
    cursor: pointer;
    display: inline-block;
    color: #FFFEE8;
    padding: 10px 25px;
    float: left;
    width: 33.3333%;
    background-color: #2C2C29;
    transition: background-color 0.5s;
    font-family: 'Sora';
}

#details2 panel::after {
    content: '';
    display: block;
    clear: both;
}

#details2 label:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #2C2C29;
}

#details2 input {
    display: none;
}

#details2 > input[id="tab4"]:checked ~ panel label[for="tab4"],
#details2 > input[id="tab5"]:checked ~ panel label[for="tab5"],
#details2 > input[id="tab6"]:checked ~ panel label[for="tab6"] {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details2 > input[id="tab4"]:checked ~ div[id="detail4"],
#details2 > input[id="tab5"]:checked ~ div[id="detail5"],
#details2 > input[id="tab6"]:checked ~ div[id="detail6"] {
    display: block;
}
/* The first set of birds the robin and the tui */
.Birds1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}
/* Code for the smaller box on the left side */
.robin {
    width: 33.3%; /* make this box 1/3 of the screen size */
    height: fit-content;
    background-color: #FFFEE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 0 30px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("assets/images/BackgroundWhite.png"); /* Wave background */
    background-position: center;
    background-size: cover;
}

.robin p,
h3 {
    color: #2C2C29;
}

.tui {
    margin-left: 20px;
    width: 66%; /* Makes this box 2/3 of the screen size */
    height: auto;
    background-color: #B4EDBC;
    display: flex; /* Flexbox */ 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 30px 0;
    background-image: url("assets/images/BackgroundGreen.png"); /* Wave background */
    background-position: center;
    background-size: cover;
}
/* The left side of the tui card */
.tuiLeft {
    padding-top: 40px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* The right side of the tui card */
.tuiRight {
    height: 100%;
    width: 55%;
    padding: 40px 40px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
/* Makes the images take up all the space */
.robin img,
.tuiLeft img {
    width: 100%;
}

/* Walks tabs */
#details3 > div {
    padding: 20px;
    display: none;
}

#details3 label {
    cursor: pointer;
    display: inline-block;
    color: #FFFEE8;
    padding: 10px 25px;
    float: left;
    width: 33.3333%;
    background-color: #2C2C29;
    transition: background-color 0.5s;
    font-family: 'Sora';
}

#details3 panel::after {
    content: '';
    display: block;
    clear: both;
}

#details3 label:hover {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details3 input {
    display: none;
}

#details3 > input[id="tab7"]:checked ~ panel label[for="tab7"],
#details3 > input[id="tab8"]:checked ~ panel label[for="tab8"],
#details3 > input[id="tab9"]:checked ~ panel label[for="tab9"] {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details3 > input[id="tab7"]:checked ~ div[id="detail7"],
#details3 > input[id="tab8"]:checked ~ div[id="detail8"],
#details3 > input[id="tab9"]:checked ~ div[id="detail9"] {
    display: block;
}
/* The Tuatara section */
.birds2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.tuatara {
    width: 100%; /* This section spannes the whole page so 100% */
    height: auto;
    background-color: #FFFEE8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 0 30px;
    background-image: url("assets/images/BackgroundWhite.png"); /* wave background */
    background-position: center;
    background-size: cover;
}
/* The text side */
.tuataraLeft {
    padding: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* The side with the image */
.tuataraRight {
    height: 100%;
    width: 50%;
    padding: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tuatara img {
    width: 100%;
}

/* Walks tabs */
#details4 > div {
    padding: 20px;
    display: none;
}

#details4 label {
    cursor: pointer;
    display: inline-block;
    color: #FFFEE8;
    padding: 10px 25px;
    float: left;
    width: 33.3333%;
    background-color: #2C2C29;
    transition: background-color 0.5s;
    font-family: 'Sora';
}

#details4 panel::after {
    content: '';
    display: block;
    clear: both;
}

#details4 label:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #2C2C29;
}

#details4 input {
    display: none;
}

#details4 > input[id="tab10"]:checked ~ panel label[for="tab10"],
#details4 > input[id="tab11"]:checked ~ panel label[for="tab11"],
#details4 > input[id="tab12"]:checked ~ panel label[for="tab12"] {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details4 > input[id="tab10"]:checked ~ div[id="detail10"],
#details4 > input[id="tab11"]:checked ~ div[id="detail11"],
#details4 > input[id="tab12"]:checked ~ div[id="detail12"] {
    display: block;
}

/* Walks tabs */
#details5 > div {
    padding: 20px;
    display: none;
}

#details5 label {
    cursor: pointer;
    display: inline-block;
    color: #FFFEE8;
    padding: 10px 25px;
    float: left;
    width: 33.3333%;
    background-color: #2C2C29;
    transition: background-color 0.5s;
    font-family: 'Sora';
}

#details5 panel::after {
    content: '';
    display: block;
    clear: both;
}

#details5 label:hover {
    background-color: rgba(255, 255, 255, .6);
    color: #2C2C29;
}

#details5 input {
    display: none;
}

#details5 > input[id="tab13"]:checked ~ panel label[for="tab13"],
#details5 > input[id="tab14"]:checked ~ panel label[for="tab14"],
#details5 > input[id="tab15"]:checked ~ panel label[for="tab15"] {
    background-color: #FFFEE8;
    color: #2C2C29;
}

#details5 > input[id="tab13"]:checked ~ div[id="detail13"],
#details5 > input[id="tab14"]:checked ~ div[id="detail14"],
#details5 > input[id="tab15"]:checked ~ div[id="detail15"] {
    display: block;
}
/* The last section with the ruru and hihi birds */
.Birds3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.ruru {
    width: 33.3%; /* The ruru has the smaller section only 1/3 of the screen size */
    height: fit-content;
    background-color: #FFFEE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 0 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("assets/images/BackgroundWhite.png"); /* Wave background */
    background-position: center;
    background-size: cover;
}

.ruru p,
h3 {
    color: #2C2C29;
}

.hihi {
    margin-right: 20px;
    width: 66%;
    height: auto;
    background-color: #B4EDBC;
    display: flex; /* Using a flexbox to create two columns  */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 30px 30px;
    background-image: url("assets/images/BackgroundGreen.png");
    background-position: center;
    background-size: cover; /* This makes the wave background fill the whole card */
}

.hihiLeft {
    padding: 40px 0 40px 40px;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.hihiRight {
    height: 100%;
    width: 45%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* Makes the images take up all the space */
.hihiRight img,
.ruru img {
    width: 100%;
}

/* Visit page */

/* The opening hours section */
.sectionOpen {
    display: flex;
    flex-direction: row;
    height: 70vh; /* This section will always be 70% of the viewport height */
    background-image: url("assets/images/background.png");
    background-position: center;
    background-size: cover;
}
/* The times part of the opening hours section */
.sectionOpenLeft {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
/* The Address part of the opening hours section */
.sectionOpenRight {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;
}

.sectionOpenLeft h2 {
    color: #FFFEE8; /* Text colour */
    padding-top: 28%;
}

.sectionOpenLeft h3 {
    color: #FFFEE8; /* Text colour */
}

.sectionOpenRight p {
    color: #FFFEE8; /* Text colour */
    padding-bottom: 10px;
}
/* The section with both tours */
.tours {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}
/* The self guided tour */
.selfTour {
    width: 33.3%;
    height: fit-content;
    background-color: #FFFEE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 0 30px; /* Creates the curved border where some corners are rounded and some are not */
    margin-right: 20px;
    background-image: url("assets/images/BackgroundWhite.png"); /* wave background */
    background-position: center;
    background-size: cover;
}

.selfTour p {
    padding: 10px 40px 40px;
}

.guidedTourRight p {
    padding-top: 10px;
}
/* The guided tour */
.guidedTour {
    margin-left: 20px;
    width: 66%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 30px 0;
}

.guidedTourInfo {
    width: 100%;
    height: auto;
    background-color: #B4EDBC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 30px 30px 0;
    background-image: url("assets/images/BackgroundGreen.png");
    background-position: center;
    background-size: cover;
}
/* The image */
.guidedTourLeft {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* The text */
.guidedTourRight {
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guidedTourLeft img {
    height: 100%;
}

.selfTour img {
    width: 100%;
    margin-bottom: 20px;
}

.guidedTourText {
    color: #FFFEE8;
    text-align: left;
    padding-top: 20px;
}
/* The help us protect native species section */
.protect {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}
/* Text colour */
.protect h2 {
    color: #FFFEE8;
}

.protectTiles {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
/* The left protect tile; Take only photographs */
.footsteps {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: #FFFEE8;
    border-radius: 0 0 30px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    padding: 20px;
}
/* So the icons on the protect tiles are the same size */
.footsteps img {
    height: 30px;
    width: 30px;
}
/* The right protect tile; keep to walking on the boardwalks */
.walking {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: #FFFEE8;
    border-radius: 0 30px 0 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
}
/* So the icons on the protect tiles are the same size */
.walking img {
    height: 30px;
}

/* Plants page */
/* The plants page has two types of images big and small, this is for the big images */
.treeImageBig {
    width: 100%;
    padding: 20px;
    border-radius: 0 30px 30px 0;
}
/* And for the samll images */
.treeImageSmall {
    width: 100%;
    padding: 20px;
    border-radius: 30px 30px 0 0;
}

/* Responsive design: this code makes the website adapt to mobile devices */

@media (max-width: 600px) {
    header { /* turning off the Parallax scroll for mobile as it doesn't work */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 { /* Making the font smaller for mobile */
        font-size: 2.5em;
    }
    .navbar { /* Changing the direction of the navigation for mobile */
        flex-direction: column;
    }
    .navbar a {
        margin-top: 10px;
    }

    .sectionWhoWeAre { /* Changing the direction of the about us section for mobile */
        flex-direction: column;
    }
    .sectionWhoWeAreLeft {
        width: 100%;
    }
    .sectionWhoWeAreLeft h3 {
        margin-bottom: 20px;
    }
    .sectionWhoWeAreRight {
        width: 100%;
    }
    .sectionWhoWeAreRight img {
        border-radius: 20px;
    }
    .sectionPages {
        height: fit-content;
    }
    .selectPages {
        flex-direction: column;
    }
    .Boxes { /* Makes the cards on the homepage take up all the width of the screen for mobile */
        width: 100%;
    }

    .sectionWildlife { /* Changing the direction of this section for mobile */
        flex-direction: column;
    }
    .sectionWildlifeLeft {
        width: 100%;
    }
    .sectionWildlifeRight {
        width: 100%;
    }

    .Birds1,
    .Birds3 { /* Changing the direction of the birds section for mobile */
        flex-direction: column;
    }
    .hihi,
    .robin,
    .ruru,
    .tui { /* Changing the direction of the birds section for mobile */
        width: 100%;
        flex-direction: column;
    }
    .tui {
        margin-left: 0;
        margin-top: 40px;
    }
    .tuiLeft,
    .tuiRight {
        width: 100%;
    }
    .tuiRight {
        padding: 0 0 40px;
    }
    .hihiLeft,
    .hihiRight {
        width: 100%;
    }
    .hihiLeft {
        padding: 40px 0 0;
    }
    .hihi {
        margin-bottom: 40px;
    }
    .ruru {
        margin-left: 0;
    }

    .birds2 {
        padding: 0 40px;
    }
    .tuatara {
        flex-direction: column;
    }
    .tuataraLeft {
        width: 100%;
        padding: 40px 0 0;
    }
    .tuataraRight {
        width: 100%;
        padding: 40px 40px 0;
    }
    .iconButton {
        display: none;
    }

    .sectionOpen {
        flex-direction: column;
        height: fit-content;
    }
    .sectionOpenLeft {
        width: 100%;
    }
    .sectionOpenRight {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sectionOpenRight p {
        text-align: center;
    }

    .protect h2 {
        text-align: center;
    }
    .protectTiles {
        flex-direction: column;
    }
    .footsteps {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .walking {
        margin-left: 0;
    }

    .tours {
        flex-direction: column;
    }
    .selfTour {
        width: 100%;
    }
    .guidedTour {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }
    .guidedTourInfo {
        flex-direction: column;
    }
    .guidedTourLeft {
        width: 100%;
        height: fit-content;
    }
    .guidedTourLeft img {
        height: auto;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
    iframe { /* hides the google maps embed for mobile */
        display: none;
    }
    .footerRight {
        width: 100%;
    }
    .footerRight p {
        padding-top: 0;
        text-align: center;
    }
}





